google-api-python-client>=2.173.0,<3.0.0
google-auth-httplib2>=0.2.0,<0.3.0
google-auth-oauthlib>=1.2.2,<2.0.0
python-dotenv
supabase==2.16.0
streamlit==1.46.1
pandas==2.3.0
numpy==2.3.1
scikit-learn
unidecode==1.4.0
pydantic==2.11.7
streamlit-aggrid==1.1.6
langchain-groq==0.3.6
pymupdf==1.26.3
plotly-express
plotly
sentence-transformers
huggingface-hub[hf-xet]==0.33.4
scipy
fpdf==1.7.2